@font-face
{
  font-family: topaz;
  src: url(../images/Topaznew.ttf);
}

html, body {
    margin: 0px;
    height: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: #505050;
    overflow: hidden;
}

.layout {
    height: 100%;
    width: 100%;
}

.main {
    position: relative;
    border-width: 0px;
    background: #909090;
    height: 100%;
    width: 100%;
    background: transparent;
    pointer-events: none;
    border-collapse: collapse;
    border-width: 0;
    font-family : topaz, "Lucida Console", monospace, Monaco;
    font-size : 10pt;
    font-weight : normal;
}

.fg {
    pointer-events: auto;
}

table tr td {
    border-collapse: collapse;
    border: 0;
    padding: 0;
}

.header {
    width: 10%;
    text-align: center;
    background-color: #808080;
    font-size: 12pt;
}

.header.action {
    width: 0px;
}

.header.table {
    width: 100%;
}

.header.logo {
    color: white;
    text-shadow: #000 1px 1px;
    min-width: 10%;
    text-align: center;
}

#title {
    width: 100%;
    text-align: left;
    background-color: #808080;
    font-size: 11pt;
}


#files { width:0; height:0; position: absolute;}


#toolbar {
    width: 10%;
    vertical-align: top;
    align: right;
    text-align: right;
    background: #777;
    padding: 5px;
}

#tools {
    pointer-events: auto;
    align: right;
    clear: left;
}

.tool {
    border: solid rgba(0,0,0,0.5) 2px;
    background-color: rgba(255,255,255,0.3);
    padding: 3px;
    font-family : topaz, "Lucida Console", monospace, Monaco;
    color: rgb(50,50,50);
}

#brushes {
    align: center;
    clear:left;
    margin-top: 5px;
}

#user_brushes {
    padding-top: 5px;
    align: center;
    clear:left;
}

#drawing_window {
    position: relative;
    height: 100%;
    width: 90%;
    margin: auto;
    vertical-align: middle;
    horizontal-align: center;
    background: transparent;
    border-width: 0;
}

#drawing_container {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    border-width: 0;
    margin: 0;
    cursor: url("../images/cursor.gif") 10 10,auto;

}

#layers_container {
    position: relative;
    pointer-events: none;
}

#drawing_frame {
    position: absolute;
    background-attachment: fixed;
    background: #D0D0D0 url("../images/chequered_transp.png");
    pointer-events: none;
    outline: 2px solid black;
    /* -webkit-transform: rotate(45deg); */

}

canvas.layer {
    position: absolute;
    top: 0px;
    left: 0px;
    /* image-rendering: -moz-crisp-edges; */
    /* image-rendering: -o-crisp-edges; */
    /* image-rendering: -webkit-optimize-contrast; */
    /* -ms-interpolation-mode: nearest-neighbor; */
    /* image-rendering: optimize-contrast; */
    pointer-events: none;
    /* -webkit-transform: rotate(45deg); */
}

canvas.active {
    //pointer-events: auto;
}

canvas.rgbLayer {
    width: 100%;
}

.layer.invisible {
    visibility: hidden;
}

.layer.animated {
    visibility: hidden;
}

.layer.animated.active {
    visibility: visible;
}

#selection_block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    cursor: default;
}

#selection_main  {
    position: absolute;
    pointer-events: none;
}

#selection_center {
    position: relative;
    pointer-events: none;
}

#selection_frame1 {
    position: absolute;
    border: solid white 1px;
    opacity: 0.7;
    pointer-events: none;
}

#selection_frame2 {
    position: absolute;
    opacity: 0.7;
    border: dashed black 1px;
    pointer-events: none;
}

#selection_topleft, #selection_topright, #selection_botleft, #selection_botright {
    position: relative;
    width: 7px;
    height: 7px;
    border: solid black 1px;
    background-color: red;
    opacity: 0.7;
    visibility: hidden;
    cursor: pointer;
}

#selection_topleft {
    cursor: nw-resize;
}

#selection_topright {
    cursor: ne-resize;
}

#selection_botleft {
    cursor: sw-resize;
}

#selection_botright {
    cursor: se-resize;
}

#sidebar {
    width: 10%;

    background: transparent;
}

.sidebar.table, .minilayers.row {
    height: 100%;
    width: 100%;
}


#minilayers_container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#minilayers {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    max-height:100%;
    padding: 5px;
    background-color: #808080;
}

#layertools {
    background-color: #808080;
}

div.minilayer {
    position: relative;
    width: 80px;
}

canvas.minilayer {
    background: #D0D0D0 url("../images/chequered_transp.png");
    border: solid #505050 2px;
    padding: 0;
}

.minilayer.animated {
    border: dashed #505050 2px;
}


.minilayer.active {
    border: solid white 2px;
}

.minilayer.invisible {
    opacity: 0.5;
}

.minilayer.unviewed_frame {
    opacity: 0.75;
}

.layerVisibleCheck {
    z-index: 100;
    position: absolute;
    right: -20px;
    top: 0px;
}

.layerAnimatedCheck {
    z-index: 100;
    position: absolute;
    right: -20px;
    top: 20px;
}

.brush {
    display: table-cell;
    border: solid transparent 1px;
    background-color: #a0a0a0;
    padding: 0 3px 0 3px;
    height: 22px;
    float: left;
}

.tool:hover, .brush:hover {
    background-color: rgba(255,255,255,0.5);
    font-family : topaz, "Lucida Console", monospace, Monaco;
    font-size : 10pt;
    font-weight : normal;
}

.tool.active, .brush.active {
    border: solid white 1px;
    background-color: #d0d0d0;
}

#bottom {
    width: 100%;
    background-color: #808080;
}

#message {
    display: table-cell;
    width: 80%;
    font-size: 10pt;
}

#coordinates {
    text-align: center;
    width: 10%;
    font-size: 10pt;
}

.table {
    display: table;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
}
