@font-face
{
  font-family: topaz;
  src: url(../images/Topaznew.ttf);
}


/* === Defaults === */

* {

}

html,body,p,div,img,h1,h2,h3,h4,li,ul,ol,dl,dd,dt,form,table,td,tr{
    margin:0px; padding:0px; border:0px; border-collapse:separate; border-spacing:0px;
}
input,select { margin:0; padding:0; }


html, body {
    margin: 0px;
    height: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: #505050;
    overflow: hidden;
}

form {
    height: 0;
}

div.actions {
    display: table-row;
}

/* Foreground */
.fg {
    pointer-events: auto;
}

/* === Main components === */

#overlay {
    position: relative;
    border-width: 0px;
    background: #909090;
    height: 100%;
    width: 100%;
    background: transparent;
    pointer-events: none;
    border-collapse: collapse;

    font-family : topaz, "Lucida Console", monospace, Monaco;
    font-size : 10pt;
    font-weight : normal;
}


/* Header */

table.header {
    width: 100%;
    border-collapse: collapse;
    outline: 2px solid black;
    background: yellow;
}

tr.header {
    background: #999;
    padding-right: 1px;
}

table.header td {
    padding: 0;
    margin: 0;
    padding-top: 1px;
}


#logo {
    padding: 4px;
    color: #fff;
    text-shadow: #000 1px 1px;
    font-size: 12pt;
    cursor: pointer;
}

#title {
    width: 100%;
    font-size: 11pt;
}

#drawing_actions {
    margin-left: auto;
    margin-right: auto;
    background: yellow;
}



/* Main part */

table.main {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

/* Drawing window */

#drawing_window {
    height: 100%;
    background: transparent;
    pointer-events: none;
}

/* Palette */

/* Sidebar */

td.sidebar {
    width: 120px;
    height: 100%;
}

table.sidebar {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

/* Tools */

td.toolbar {
}

div.toolbar {

    height: 0%;
    background: #888;
    padding: 5px;
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: black;
}

#tools {
    margin: 0 0 5px 0;
}

/* Brushes */

div.brushes {
    color: #fff;
    text-shadow: #000 1px 1px;
    clear: both;
    padding: 2px;
}

#brushes {
    margin: 3px 0;
}

.brush {
    background-color: #a0a0a0;
    padding: 3px 3px 3px 3px;
    float: left;
    margin: 1px;
}

.brush:hover {
    background-color: #ccc;
}

.brush.active {
    border-color: #fff;
    background-color: #d0d0d0;
}

/* Minilayers */

td.minilayers {
    height: 100%;
    vertical-align: bottom;
}

#minilayers_container {
    position: relative;
    height: 90%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
}

#minilayers {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    max-height: 100%;
    padding: 5px;
    background-color: #808080;

    border-width: 2px 0 0 2px;
    border-style: solid;
    border-color: black;
}

.minilayer {
    position: relative;
    width: 90px;
}

canvas.minilayer {
    background: #D0D0D0 url("../images/chequered_transp.png");
    border: solid #505050 2px;
    padding: 0;
}

.minilayer.animated {
    border: dashed #505050 2px;
}


.minilayer.active {
    border: solid white 2px;
}

.minilayer.invisible {
    opacity: 0.5;
}

.minilayer.unviewed_frame {
    opacity: 0.75;
}

.layerVisibleCheck {
    z-index: 100;
    position: absolute;
    right: -5px;
    top: 0px;
}

.layerAnimatedCheck {
    z-index: 100;
    position: absolute;
    right: -5px;
    top: 20px;
}


div.layer_actions {
    width: 100%;
    height: 100&;
    background: #808080;
    border-left: 2px;

    padding: 5px;
    border-style: solid;
    border-color: black;
}



/* Footer */

td.bottom {
    background: #aaa;
    padding: 2px;
}

td.bottom table {
    width: 100%;
}

#message {
    width: 100%;
    font-size: 10pt;
}

#coordinates {
    text-align: right;
    font-size: 10pt;
}


/* === Drawing and layer stuff === */

#drawing {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    border-width: 0;
    background: #606060;
    margin: 0;
    overflow: hidden;
    cursor: url("../images/cursor.gif") 10 10,auto;
}

#drawing_frame {
    position: absolute;
    /* background-attachment: fixed; */
    background: #D0D0D0 url("../images/chequered_transp.png");
    outline: 2px solid black;
    /* -webkit-transform: rotate(45deg); */
    pointer-events: none;
}

#layers_container {
    position: relative;
    pointer-events: none;
}

canvas.layer {
    position: absolute;
    top: 0px;
    left: 0px;
    /* image-rendering: -moz-crisp-edges; */
    /* image-rendering: -o-crisp-edges; */
    /* image-rendering: -webkit-optimize-contrast; */
    /* -ms-interpolation-mode: nearest-neighbor; */
    /* image-rendering: optimize-contrast; */
    pointer-events: none;
}

/* canvas.rgbLayer { */
/*     width: 100%; */
/* } */

canvas.layer.animated {
    visibility: hidden;
}

canvas.layer.animated.active {
    visibility: visible;
}

canvas.layer.invisible {
    visibility: hidden;
}

canvas.layer.animated.active.invisible {
    visibility: hidden;
}



/* === Buttons === */

button {
    border-width: 2px 0 0 2px;
    padding: 2px 3px 3px 2px;
    border-color: #ddd;
    outline: solid #000 2px;
    background-color: #aaa;
    margin: 1px;
    font-family : topaz, "Lucida Console", monospace, Monaco;
    color: #000;
    display: table-cell;
}

button:hover, .brush:hover {
    background-color: #ddd;
}

button.active, .brush.active {
    border-color: #999;
    background-color: #d0d0d0;
}



.span { width:100%; }

.table {
    display: table;

}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
}
