<!DOCTYPE html>

<html>
  <head>
    <!-- <meta name="viewport" content="width=device-width; -->
    <!-- initial-scale=1.0; user-scalable:no;"/> -->
    <!-- <meta name="viewport" -->
    <!--       content="width=device-width, height=device-height, -->
    <!--                initial-scale=1.0, user-scalable=no"> -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>0ldPaint</title>
    <link rel="stylesheet" href="css/main.css" type="text/css"/>
    <link rel="stylesheet" href="css/palette.css" type="text/css"/>
    <link rel="stylesheet" href="css/slider.css" type="text/css"/>
    <link rel="stylesheet" href="css/selection.css" type="text/css"/>
    <link rel="stylesheet" href="css/modal.css" type="text/css"/>
    <link rel="stylesheet" href="css/menu.css" type="text/css"/>
  </head>
  <body>

    <form><input id="files" class="action" type="file" name="files[]" /></form>

    <div id="drawing">
      <div id="drawing_frame"></div>
      <div id="layers_container"></div>
    </div>

    <table id="overlay">

      <tr>
        <td colspan="2" class="header fg">
          <table class="header">
            <tr class="header">
              <td id="logo"> OldPaint </td>
              <td id="title"> </td>
              <!-- <td> <button id="load">Load</button> </td> -->
              <!-- <td> <button id="save_png">Save&nbsp;PNG</button> </td> -->
              <!-- <td> <button id="save_ora">Save&nbsp;ORA</button> </td> -->
            </tr>
          </table>
        </td>

      </tr>

      <tr>

        <td class="main">
          <table class="main">
            <tr>
              <td id="drawing_window">
                <!-- This is our window to the actual drawing -->
              </td>
            </tr>
            <tr>
              <td id="palette_editor" class="fg">
                <!-- Palette editor goes here-->
              </td>
            </tr>
          </table>
        </td>

        <td class="sidebar">

          <table class="sidebar">
            <tr>
              <td class="toolbar fg">
                <div class=toolbar>
                  <div id="tools">
                    <!-- Tools go here -->
                  </div>

                  <div id="brushes">
                    <!-- Here be Brushes -->
                  </div>

                  <div class="actions">
                    <button id="undo"> Undo </button>
                    <button id="redo"> Redo </button>
                  </div>

                </div>
              </td>
            </tr>
            <tr>
              <td class="minilayers">
                <div id="minilayers_container">
                  <div id="minilayers_">
                    <div id="minilayers" class="fg">
                      <!-- Layer mini previews -->
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="layer_actions fg">
                  <div class="actions">
                    <button id="layer_add"> + </button>
                    <button id="layer_delete"> - </button>
                    <button id="layer_merge"> Merge </button>
                    <button id="layer_clear"> Clear </button>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </td>

      </tr>

      <tr class="row">
        <td class="bottom fg" colspan="2">
          <table>
            <tr>
              <td class="message"></td>
              <td class="coordinates"></td>
              <td class="layer_number"></td>
              <td class="zoom"></td>
            </tr>
          </table>
        </td>

      </tr>

    </table>


    <!-- === Templates ==== -->

    <!-- The selection rectangle, used e.g. for picking up brushes -->
    <script id="selection_template" type="text/template">
      <!-- <div id="selection_block"> -->
      <!-- </div> -->
      <div id="selection_main" class="selection table">
        <div class="selection row">
          <div id="selection_topleft" class="selection handle cell"></div>
          <div id="selection_top" class="selection cell"></div>
          <div id="selection_topright" class="selection handle cell"></div>
        </div>
        <div class="selection row">
          <div id="selection_left" class="selection cell"></div>
          <div id="selection_center" class="selection cell">
            <div id="selection_frame1" class="selection frame"></div>
            <div id="selection_frame2" class="selection frame"></div>
          </div>
          <div id="selection_right" class="selection cell"></div>
        </div>
        <div class="selection row">
          <div id="selection_botleft" class="selection handle cell"></div>
          <div id="selection_bot" class="selection cell"></div>
          <div id="selection_botright" class="selection handle cell"></div>
        </div>
      </div>
    </script>

    <!-- The tool buttons, e.g. pencil, line, etc -->
    <script id="toolbar_template" type="text/template">
      <div class="actions">
      {% for i, tool in tools %}
        <button id="{{ tool.name }}" data="{{ tool.cid }}"
                class="tool" title="{{ tool.name }} ({{ tool.key }})">
          <img src="images/icons/{{ tool.name }}.png"
               style="vertical-align: middle"></img>
        </button>
      {% endfor %}
      </div>
    </script>

    <!-- Brush preview buttons -->
    <script id="brushes_template" type="text/template">
        {% for brush in brushes %}
           <div data="{{ brush.cid }}" class="brush"> </div>
        {% endfor %}
        <div style="clear: both"></div>
        {% for brush in user_brushes %}
           <div data="{{ brush.cid }}" class="brush"> </div>
        {% endfor %}
        <div style="clear: both"></div>
    </script>

    <!-- Palette editor -->
    <script id="paletteeditor_template" type="text/template">
      <table class="palette_editor">
        <tr>
          <td class="palette">
            <!-- Palette goes here -->
          </td>

          <td>
            <table id="palette_tools">
              <tr>
                <td><div id="color_value_r" class="color_value"
                           size="3"></div></td>
                <td class="color_slider">
                <div id="color_slider_r" class="color_slider"></div></td>
                </tr><tr>
                <td ><div id="color_value_g" class="color_value"
                            size="3"></div></td>
                <td class="color_slider">
                <div id="color_slider_g" class="color_slider"></div></td>
                </tr><tr>
                <td><div id="color_value_b" class="color_value"
                           size="3"></div></td>
                <td class="color_slider">
                <div id="color_slider_b" class="color_slider"></div></td>
              </tr>
              <tr>
                <td colspan="2">
                  <div id="palette_actions">
                    <div class="actions">
                      <button id="color_spread" class="tool"> Spread </button>
                      <!-- <button id="color_swap" class="tool cell"> Swap </button> -->
                      <button id="color_transp" class="tool cell"> Transparent </button>
                      <button id="color_backdrop" class="tool cell"> Backdrop </button>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </script>

    <!-- Mini layer representations -->
    <script id="minilayer_template" type="text/template">
      <div class="number"></div>
      <input type="checkbox" class="visible_check" title="Layer visibility" checked/>
      <input type="checkbox" class="animated_check" title="Animation frame"/>
    </script>

    <!-- Modal dialog for picking stuff -->
    <script id="modal_selection_template" type="text/template">
      <div class="popup container">
        <div class="popup frame">
          <div class="popup body">
            <div id="title"> {{ title }} </div>
            <div class="popup itemlist">
              {% for item in items %}
              <div id="{{ item }}" class="fileitem"> {{ item }} </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="popup block">
        </div>
      </div>
    </script>

    <script id="modal_alert_template" type="text/template">
      <div class="popup container">
        <div class="popup frame">
          <div class="popup body">
            <div id="title"> {{ title }} </div>
            <div id="message"> {{ message }} </div>
            <div id="responses">
              <button id="ok">OK</button>
              <button id="abort">Abort</button>
            </div>
          </div>
        </div>
        <div class="popup block">
        </div>
      </div>
    </script>

    <script id="modal_input_template" type="text/template">
      <div class="popup container">
        <div class="popup frame">
          <div class="popup body">
            <div class="popup" id="title"> {{ title }} </div>
            <div class="popup" id="message"> {{ message }} </div>
            <input type="text" name="modal" class="popup" />
            <div id="responses">
              <button class="popup" id="ok">OK</button>
              <button class="popup" id="abort">Abort</button>
            </div>
          </div>
        </div>
        <div class="popup block">
        </div>
      </div>
    </script>


    <script id="load_popup_template" type="text/template">
      <div id="popup">
        <div id="popup_body"></div>
      </div>
      <div id="popup_block">
      </div>

    </script>

    <script id="save_popup_template" type="text/template">
      <div id="popup">
        <div id="popup_body"></div>
          <input id="popup_filename" type="text" name="filename" />
          <button id="popup_save">Save</button>
      </div>
      <div id="popup_block">
      </div>
    </script>

    <!--  === DEPENDENCIES === -->
    <script src="js/libs/jquery-1.8.2.js"></script>
    <script src="js/libs/underscore.js"></script>
    <script src="js/libs/backbone.js"></script>
    <script src="js/libs/jquery.mousewheel.js"></script>
    <script src="js/libs/jquery-ui-1.9.1.custom.js"></script>
    <script src="js/libs/jquery.hotkeys.js"></script>
    <script src="js/libs/Base64.js"></script>
    <script src="js/libs/png-deflate.js"></script>
    <script src="js/libs/PNG.js"></script>
    <script src="js/libs/FileSaver.js"></script>
    <script src="js/libs/canvas-toBlob.js" ></script>
    <script  src="js/libs/zip.js"></script>
    <script  src="js/libs/zip-fs.js"></script>
    <script  src="js/libs/XMLWriter-1.0.0-min.js"></script>
    <script  src="js/libs/mousetrap.js"></script>
    <script  src="js/libs/ashe.js"></script>

    <!-- internals -->
    <script src="js/oldpaint.js"></script>
    <script src="js/util.js"></script>
    <script src="js/localstorage.js"></script>
    <script src="js/draw.js"></script>
    <script src="js/pnglib.js"></script>
    <script src="js/indexedimage.js"></script>
    <script src="js/rgbimage.js"></script>
    <script src="js/modal.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/chrome.js"></script>

    <!-- models -->
    <script src="js/tool.js"></script>
    <script src="js/palette.js"></script>
    <script src="js/image.js"></script>
    <script src="js/brush.js"></script>
    <script src="js/layer.js"></script>
    <script src="js/selection.js"></script>
    <script src="js/drawing.js"></script>

    <!-- views -->
    <script src="js/layer_view.js"></script>
    <script src="js/drawing_view.js"></script>
    <script src="js/status_view.js"></script>
    <script src="js/minilayers_view.js"></script>
    <script src="js/paletteeditor_view.js"></script>
    <script src="js/selection_view.js"></script>
    <script src="js/misc_views.js"></script>

    <script src="js/main.js"></script>
  </body>
</html>
